* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.azul {
    width: 33.333%;
    background-color: blue;
}

.branco {
    width: 33.333%;
    background-color: white;
}

.vermelho {
    width: 33.333%;
    background-color: red;
}