* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.azul {
    height: 40%;
    background-color: blue;
}

.branco {
    height: 40%;
    background-color: white;
}

.superior {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.superior div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.superior img {
    height: 100%;
}

.inferior {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}