* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.laranja {
    height: 33.333%;
    background-color: orangered;
}

.branco {
    height: 33.333%;
    background-color: white;
}

.verde {
    height: 33.333%;
    background-color: green;
}

.container div {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}